@charset "UTF-8";
@import "reset.css";
/* Grid */
/* color */
/* height */
/* Grid */
/* color */
/* height */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 100%/1.5em 'Catamaran',-apple-system,'Noto Sans TC', Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 1.2px;
    font-size: 15px;
    overflow-x: hidden;
    position: relative;
}

body ::-moz-selection {
    background: #ecf1ca; 
}

body ::selection {
    background: #ecf1ca; 
}
  
article, aside, details, figcaption, figure, hgroup, menu, nav, section {
    display: block;
    font-family: 'Catamaran',-apple-system,'Noto Sans TC', sans-serif;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
    padding: .8rem 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    position: fixed;
    width: 100%;
    z-index: 777;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    -moz-transition: all 400ms;
    transition: all 400ms;
    background: white;
    border-bottom: #e6e6e6 1px solid;
}

.navbar-brand img {
    height: 60px;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.nav-item {
    padding: 0 2.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #F29999;
}

.blank {
    height: 100px;
}

.carousel {
    padding-bottom: 1rem;
}

@media (max-width: 768px) {
    .navbar {
        height: 80px;
    }

    .nav-item {
        padding: 1.2rem 3rem;
        border-bottom: #e6e6e6 1px solid;
    }

    .navbar-brand img {
        height: 50px;
    }

    .carousel {
        top: 80px;
    }

    .navbar-collapse {
        position: fixed;
        top: 80px;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
    }

    .navbar-collapse.collapsing {
        height: 100%;
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        height: 100%;
        left: 0;
        transition: left 400ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 400ms ease-in;
    }
}

.index-sec {
    /* position: relative; */
    padding-bottom: 1rem;
}

h3[data-type="index"] {
    font-size: 22px;
    margin-top: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h4[data-type="index"] {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: .6rem 0 1.2rem 0;
    margin-bottom: 3rem;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.new-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    line-height: 2.5rem;
    color: black;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 3px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 2rem;
}

.pink-bg {
    background-color: #F4C3C3;
    padding: 2rem;
}

.counter {
    color: #D67D7D;
}

.new-img {
    /* background-image: url("./img/newselection.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    overflow: hidden;
}

.new-img img {
    max-width: 140%;
}

.about-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 2.5rem;
    color: black;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 3px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 2rem;
}

.about-wrapper .about-left {
    background: #F6F6F6;
    line-height: 2.5rem;
    color: black;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 3px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-wrapper .about-right img {
    width: 100%;
}

.index-about {
    max-width: 1440px;
    width: 87%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
}
.index-about .ap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #F6F6F6;
    line-height: 2.5rem;
    color: black;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 3px;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
.index-about .ap span {
    font-size: 17px;
    letter-spacing: .6px;
    -webkit-font-smoothing: auto;
    margin-left: -2px;
}
.index-about .ap .link_1 {
    opacity: .6;
    letter-spacing: 1px;
    position: absolute;
    bottom: 2rem;
    left: 42%;
}
.index-about .ap .drop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5rem;
    width: 3px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.index-about .ap .drop span {
    display: block;
    width: 1px;
    height: 150px;
    background: black;
    -webkit-transition: all;
    -o-transition: all;
    -moz-transition: all;
    transition: all;
}
.index-about .ap .drop span:first-child {
    -webkit-animation: drop 5s infinite;
        -moz-animation: drop 5s infinite;
            -o-animation: drop 5s infinite;
            animation: drop 5s infinite;
}
.index-about .ap .drop span:nth-child(2) {
    -webkit-animation: drop2 5s infinite;
        -moz-animation: drop2 5s infinite;
            -o-animation: drop2 5s infinite;
            animation: drop2 5s infinite;
    -webkit-animation-delay: 3s;
        -moz-animation-delay: 3s;
            -o-animation-delay: 3s;
            animation-delay: 3s;
}
    
@-webkit-keyframes drop {
    from {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    to {
        -webkit-transform: translateY(150px);
                transform: translateY(150px);
    }
}
    
@-moz-keyframes drop {
    from {
        -moz-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    to {
        -moz-transform: translateY(150px);
                transform: translateY(150px);
    }
}
    
@-o-keyframes drop {
    from {
        -o-transform: translateY(-50px);
            transform: translateY(-50px);
    }
    to {
        -o-transform: translateY(150px);
            transform: translateY(150px);
    }
}
    
@keyframes drop {
    from {
        -webkit-transform: translateY(-50px);
            -moz-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    to {
        -webkit-transform: translateY(150px);
            -moz-transform: translateY(150px);
                -o-transform: translateY(150px);
                transform: translateY(150px);
    }
}
    
@-webkit-keyframes drop2 {
    from {
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px); }
    to {
        -webkit-transform: translateY(150px);
                transform: translateY(150px); }
}
    
@-moz-keyframes drop2 {
    from {
        -moz-transform: translateY(-100px);
            transform: translateY(-100px); }
    to {
        -moz-transform: translateY(150px);
            transform: translateY(150px); }
}
    
@-o-keyframes drop2 {
    from {
        -o-transform: translateY(-100px);
            transform: translateY(-100px); }
    to {
        -o-transform: translateY(150px);
            transform: translateY(150px); }
}
    
@keyframes drop2 {
    from {
        -webkit-transform: translateY(-100px);
            -moz-transform: translateY(-100px);
            -o-transform: translateY(-100px);
                transform: translateY(-100px); }
    to {
        -webkit-transform: translateY(150px);
            -moz-transform: translateY(150px);
            -o-transform: translateY(150px);
                transform: translateY(150px); }
}

.index-about .ap img {
    width: 22px;
    margin-bottom: 3rem;
}
.index-about .ap img.white {
    display: none;
}
.index-about .ap img.black {
    -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
            -o-transform-origin: top;
            transform-origin: top;
    -webkit-animation: dropImg 3s;
        -moz-animation: dropImg 3s;
            -o-animation: dropImg 3s;
            animation: dropImg 3s;
    -webkit-animation-delay: 5s;
        -moz-animation-delay: 5s;
            -o-animation-delay: 5s;
            animation-delay: 5s;
}
    
@-webkit-keyframes dropImg {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0); }
    50% {
        -webkit-transform: scale(0);
                transform: scale(0); }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1); }
}
    
@-moz-keyframes dropImg {
    0% {
        -moz-transform: scale(0);
            transform: scale(0); }
    50% {
        -moz-transform: scale(0);
            transform: scale(0); }
    100% {
        -moz-transform: scale(1);
            transform: scale(1); }
}
    
@-o-keyframes dropImg {
    0% {
        -o-transform: scale(0);
            transform: scale(0); }
    50% {
        -o-transform: scale(0);
            transform: scale(0); }
    100% {
        -o-transform: scale(1);
            transform: scale(1); }
}
    
@keyframes dropImg {
    0% {
        -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -o-transform: scale(0);
                transform: scale(0); }
    50% {
        -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -o-transform: scale(0);
                transform: scale(0); }
    100% {
        -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
                transform: scale(1); }
}

.index-about .img {
    width: 50%;
}
@media (max-width: 768px) {
    .index-about {
        position: relative;
        display: block;
    }
    .index-about .ap {
        width: 100%;
        height: 98%;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 19px;
    }
    .index-about .ap span {
        font-size: 15px;
        margin-left: -4px;
    }
    .index-about .ap .black {
        display: none;
    }
    .index-about .ap img.white {
        display: block;
    }
    .index-about .ap .drop {
        height: 100px;
    }
    .index-about .ap .drop span {
        background: white;
    }
    .index-about .link_1 {
        color: white;
    }
    .index-about .img {
        width: 100%;
    }
}

.contact-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    width: 86%;
    margin: auto;
    margin-top: 2rem;
}

.contact-wrapper .map-rwd {
    width: 50%;
    /* position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0; */
    overflow: hidden;
}
.contact-wrapper .map-rwd iframe {
    width: 100%;
}

.contact-wrapper .contact-wrap {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
              -moz-box-pack: center;
              -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
         -moz-box-align: center;
         -ms-flex-align: center;
            align-items: center;
}

.contact-wrapper .contact-wrap ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 70%;
}

@media (max-width: 980px) {
    .contact-wrapper .contact-wrap ul {
        width: 85%;
    }
}
.contact-wrapper .contact-wrap ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}
.contact-wrapper .contact-wrap ul li a {
    color: black;
}
.contact-wrapper .contact-wrap ul li a:hover {
    color: #F29999;
}
.contact-wrapper .contact-wrap ul li span {
    width: 80px;
    display: block;
}
.contact-wrapper .contact-wrap ul li address {
    display: block;
    word-break: break-all;
}
@media (max-width: 768px) {
    .contact-wrapper .contact-wrap ul li address {
        margin-top: .5rem;
    }
}
.contact-wrapper .contact-wrap ul li address:last-child {
    padding-left: 80px;
}
@media (max-width: 768px) {
    .contact-wrapper .contact-wrap ul li address:last-child {
        padding-left: 0;
        margin-top: 0;
    }
}
@media (max-width: 768px) {
    .contact-wrapper {
        -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
    -webkit-flex-direction: column;
           -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
    .contact-wrapper .map-rwd, .contact-wrapper .contact-wrap {
        width: 100%;
    }
    .contact-wrapper .contact-wrap {
        margin-top: 2rem;
    }
    .contact-wrapper .contact-wrap ul {
        width: 90%;
    }
}

.bottom-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.bottom-logo .vertical-line {
    text-align: center;
    width: 0;
    height: 100px;
    border: #F29999 1px solid;
}

.bottom-logo img {
    width: 150px;
    height: auto;
}